<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yiyekeji.coolschool">

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote">
        </service>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="03R36jZvVXnb4dKu8lVShMUau7oBP0fD" />  <!--http://lbsyun.baidu.com/apiconsole/key-->
        <!--友盟Apikey-->
        <meta-data android:name="UMENG_APPKEY" android:value="58ad4e828f4a9d191100096e" />
        <meta-data android:name="UMENG_CHANNEL" android:value="360" />
        <meta-data android:name="UMENG_MESSAGE_SECRET" android:value="cd8852acf5a03938577d54715601f44e"/>

        <meta-data android:name="design_width" android:value="720"/>
        <meta-data android:name="design_height" android:value="1280"/>
        <activity android:name=".ui.StartActivity"
                  android:alwaysRetainTaskState="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>
        </activity>
        <activity
            android:name=".ui.TuCaoDetailAty"
            android:label="详情"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.LoginActivity"
            android:label="登录"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.TransparentLoginAty"
            android:label="透明登录"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.UpLoadActivity"
            android:label="上传文件测试"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".ui.ModifyProductModelAty"
            android:label="规格编辑"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.MainViewpagerActivity"
            android:label="主页"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.CreateTakeExpressOrderAty"
            android:label="我要寄件"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.CreateDeliverOrderAty"
            android:label="代拿快递"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.SellerProductOrderListAty"
            android:label="已卖商品"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.BuyerProductOrderListAty"
            android:label="我的订单"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.SellProductOrderDetailAty"
            android:label="商品订单"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.OtherOrderListAty"
            android:label="其他订单"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.OtherOrderDetailAty"
            android:label="其他订单详情"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.RegisterActivity"
            android:label="注册"
            android:screenOrientation="portrait"
        />
        <activity
            android:name=".ui.ReleaseProductAyt"
            android:label="发布商品"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.SelectCategoryAty"
            android:label="选择分类"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.TeacherRollCallActivitiy"
            android:label="点名"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.DynamicSignInActivity"
            android:label="正在点名"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.ProductDetailAty"
            android:label="商品详情"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.MyProductListAty"
            android:label="我的商品"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.MyShoppingCarAty"
            android:label="购物车"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.StudentSignInActivity"
            android:label="签到"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.UserInfomationActivity"
            android:label="个人信息"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.SelectDeliverTimeAty"
            android:label="送货时间"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.ScheduleAty"
            android:label="课程表"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.CreateProductOrderAty"
            android:label="创建订单"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.SettingActivity"
            android:label="设置"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.MainActivity"
            android:label="test"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.ModifyUserInfoActivity"
            android:label="修改性别"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.AbsenceListActivtiy"
            android:label="缺勤列表"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.AbsenceRecordAty"
            android:label="缺勤名单"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.AbsenceStatisticAyt"
            android:label="缺勤统计"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.ModifyPwdActivity"
            android:label="修改密码"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.FindPwdActivity"
            android:label="找回密码"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.AboutActivity"
            android:label="关于"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.FeedBackActivity"
            android:label="意见反馈"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.AddCourseAty"
            android:label="添加课程"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.QueryScoreAty"
            android:label="查成绩"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.CommitPullMsgAty"
            android:label="发布通知"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.PublishTuCaoAyt"
            android:label="我要吐槽"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize"
            />
        <activity
            android:name=".ui.PullMsgListActivtiy"
            android:label="通知"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.PullMsgDetailAty"
            android:label="消息详情"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.EditProductAyt"
            android:label="编辑商品"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.CreateReturnOrderAty"
            android:label="退货"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.RejectGoodAty"
            android:label="退货订单"
            android:screenOrientation="portrait"
            />
    </application>



</manifest>